<div class="col-lg-12 whiteBG">
<form name="formEditAd" class="col-lg-12">
	<legend class="text-center">Edit Ad</legend>
	<div class="row">
		<div class="col-lg-8">
			<div class="form-group">
				<div class="col-lg-3">
					<label for="title">Title: <span class="text-danger">*</span> </label>
				</div>
				<div class="col-lg-9 paddingBottom">
					<input type="text" name="title" class="form-control" id="title" placeholder="Title" ng-model="formEditAd.title" required>
				</div>
			</div>
			<div class="form-group">					
				<div class="col-lg-3">
					<label for="text">Text: <span class="text-danger">*</span></label>
				</div>
				<div class="col-lg-9 paddingBottom">
					<textarea class="form-control" rows="5" id="text" name="text" placeholder="Description" ng-model="formEditAd.text" required></textarea>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-lg-3">
					<label for="image">Image:</label>
				</div>
				<div class="col-lg-9 paddingBottom">
					<div class="input-group">					
						<input type="text" class="form-control image-title" readonly="" value="" />
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-3">
					<label for="selectTown">Town:</label>
				</div>
				<div class="col-lg-9 paddingBottom">
					<select class="form-control" id="selectTown" ng-model="formEditAd.townId">
						<option value="" selected>None</option>
						<option ng-repeat="town in townsFeed" value="{{town.id}}">{{town.name}}</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-3">
					<label for="selectCategory">Category:</label>
				</div>
				<div class="col-lg-9 paddingBottom">
					<select class="form-control" id="selectCategory" ng-model="formEditAd.categoryId">
						<option value="" selected>None</option>
						<option ng-repeat="category in categoriesFeed" value="{{category.id}}">{{category.name}}</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-3">
					<label for="selectCategory">Status:</label>
				</div>
				<div class="col-lg-9 paddingBottom">
					<select class="form-control" id="status" ng-model="formEditAd.status">
						<option ng-repeat="status in statusArray" value="{{status.status}}">{{status.status}}</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-3">
					<label for="selectCategory">Date:</label>
				</div>
				<div class="col-lg-9 paddingBottom">
					<input type="input" ng-model="formEditAd.date"/>
				</div>
			</div>
		</div>
		<div class="col-lg-4" >
			<img ng-src="{{formEditAd.imageDataUrl}}" class="adImage img-responsive">
			<br />
			<div class="ad-edit-buttons">
				<a class="btn btn-primary" ng-click="deleteImage()">Delete</a>
			</div>
			<br /><br />
			<input type="file" multiple="" id="image" onchange="angular.element(this).scope().fileSelected(this)" />
		</div>

	</div>
	<div class="form-group">
		<div class="text-centered">
			<button class="btn btn-primary" ng-click="cancel()">Cancel</button>
			<button class="btn btn-info" type="submit" name="edit" data="{{formEditAd.id}}" ng-click="ok(adDetails.id, formEditAd)" >Edit</button>
		</div>
	</div>
</form>
</div>