<div class="row">
	<div class="col-lg-9">
		<ul id="adsList">
			<li dir-paginate="ad in adsData.ads | filter: query | itemsPerPage: adsPerPage" total-items="totalAds">
				{{ad.title}}
			</li>
		</ul>	
	</div>
	<div class="col-lg-3">
		<h3>Towns</h3>
		<ul id="townList">
			<li ng-repeat="town in townsData">
					 {{town.name}}
			</li>
		</ul>	
		<h3>Categories</h3>
		<ul id="categoryList">
			<li ng-repeat="cat in categoryData">
					 {{cat.name}}
			</li>
		</ul>	
	</div>
</div>
<div class="row pagination-div">
	<div class='col-md-9 col-sm-10 col-xs-12 col-centered'>
		<dir-pagination-controls boundary-links="true" on-page-change="pageChanged(newPageNumber)" template-url="templates/dirPagination.tpl.html"></dir-pagination-controls>
	</div>
</div>