<!-- register-form -->
<form name="formRegister" class="form-horizontal col-lg-12 whiteBG">
    <legend class="text-center">Register</legend>
    <div class="row form-group">
      <div class="col-lg-6">
        <div>
          <label for="username" class="col-lg-6">Username: <span class="text-danger">*</span></label>
        </div>
        <input type="text" name="username" class="form-control" id="username" placeholder="Username" ng-model="userDetails.username" required>
      </div>
    </div>
    <!-- password-->
    <div class="form-group row">
      <div class="col-lg-6">
        <div>
          <label for="password" class="col-lg-6">Password: <span class="text-danger">*</span></label>
        </div>
        <input type="password" name="password" class="form-control" id="password" placeholder="Password" ng-model="userDetails.password" required>
      </div>
      <!-- confirm password-->
      <div class="col-lg-6">
        <div>
          <label for="confirmPassword" class="col-lg-6" id="confirm-password-label">Confirm password: <span class="text-danger">*</span></label>
        </div>
        <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" placeholder="Confirm password" ng-model="userDetails.confirmPassword" required>
      </div>
    </div>
    <!-- name-->
    <div class="form-group row">
      <div class="col-lg-6">
        <div>
          <label for="name" class="col-lg-6">Name: <span class="text-danger">*</span></label>
        </div>
        <input type="text" name="name" class="form-control" id="name" placeholder="Name" ng-model="userDetails.name" required>
      </div>
      <!-- email-->
      <div class="col-lg-6">
        <div>
          <label for="email" class="col-lg-6" >Email: <span class="text-danger">*</span></label>
        </div>
        <input type="email" name="email" class="form-control" id="email" placeholder="Email" ng-model="userDetails.email" required>
      </div>
    </div>
    <!-- phone-->
    <div class="form-group row">
      <div class="col-lg-6">
        <div>
          <label for="phone" class="col-lg-6">Phone: <span class="text-danger">*</span></label>
        </div>
        <input type="text" name="phone" class="form-control" id="phone" placeholder="Phone" ng-model="userDetails.phone" required>
      </div>
      <!-- town-->
      <div class="col-lg-6">
        <label for="town" class="col-lg-6" >Town: </label>
        <select class="form-control" id="select" name="town" ng-model="userDetails.town">
          <option ng-repeat="town in townsFeed" value="{{town.id}}">{{town.name}}</option>
        </select>
      </div>
    </div>

    <!-- register submit-->
    <div class="form-group row">
      <div class="text-centered">
        <a class="btn btn-default" href="#/">Cancel</a>
        <button name="login" ng-click="register(userDetails, formRegister)" type="submit" class="btn btn-primary">Register</button>
      </div>
    </div>
</form>