body {

	background: #dae3e7;

}



h1, h2, h3, h4, h5, h6 {

	font-family: Comfortaa;

	font-weight: 400;

}



.sidebar {

	background: #fff;

	padding: 10px;

	margin-bottom: 20px;

}



#adsList, #userAdsList {

	margin: 0px;

	padding: 0px;

}



.headingArea {

	margin-bottom: 15px;

}



#adsList li, #userAdsList li {

	list-style: none;

	background: #fff;

	margin-bottom: 20px;

	padding: 10px;

}



#adsList li h3, #userAdsList li h3{

	margin: 0px;

}



.text-centered {

	text-align: center;

}

.sidebar .nav li a {
	border-bottom: 1px dotted #eee;
	padding: 7px 15px;
	cursor: pointer;
}

.nav > .active {
    background-color: #eee;
    text-decoration: none;
}    

.whiteBG {
	background: #fff;
}

label.col-lg-6 {
	padding-left: 0px;
} 

footer .container {
	padding-top: 20px;
}

.ad-image {
	margin-left: 10px;
}

.headingArea h3 {
	padding-left: 10px;
	font-size: 20px;
	line-height: 1.2;
}

.sidebar h3 {
	margin-top: 7px;
	padding-left: 15px;
}

.navbar h1 {
	margin-top: 7px;
}
.navbar a {
	cursor: pointer;
}

.paddingBottom {
	padding-bottom: 10px;
}

#userAdsList .btn {
	width: 80%;
	text-align: center;
	margin-top: 5px;
}

.adStatus {
	padding-bottom: 10px;
}